[package]
name = "zapdb"
version = "1.0.0"
authors = ["Smartlinuxcoder"]
edition = "2021"
description = "Lightweight sql-like database"
readme = "README.md"
repository = "https://github.com/Smartlinuxcoder/zapdb"
license-file = "LICENSE"
keywords = ["database", "db", "in-memory"]

[dependencies]
bincode = "1.3.3"
serde = { version = "1.0.215", features = ["derive"] }
tokio = { version = "1.41.1", features = ["full"] }
